<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="All,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="traceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="traceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceListener"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="C:\Users\30086217\source\repos\WcfService1\MyService\log\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="GetDataGroup" value="ServiceGroup"/>
    <!-- key value pairs associating thumbprint to account (should be put in database) -->
    <add key="2AD276688DE13AA178EBB6E6092C6F65E8CD6355" value="30086217"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding name="NewBinding0" closeTimeout="00:00:40">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate"></transport>
            <message clientCredentialType="Certificate"  negotiateServiceCredential="false"
                     establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MyBehaviour" name="MyService.Service1">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="NewBinding0"
          contract="MyService.IService1" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehaviour">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust" trustedStoreLocation="LocalMachine"
                mapClientCertificateToWindowsAccount="false"/>
            </clientCertificate>
            <serviceCertificate findValue="9DBABFFFC46B8E82FD9CDC8B2EDC394C48B88306" storeName="My"
              storeLocation="LocalMachine" x509FindType="FindByThumbprint"/>
          </serviceCredentials>

          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="MyService.CustomAuthorizationPolicy, MyService"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
