<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <clientCredentials>
            <clientCertificate findValue="2AD276688DE13AA178EBB6E6092C6F65E8CD6355" storeName="My"
              storeLocation="LocalMachine" x509FindType="FindByThumbprint"/>
            <serviceCertificate>
              <defaultCertificate x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"
                                  findValue="9DBABFFFC46B8E82FD9CDC8B2EDC394C48B88306"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <ws2007HttpBinding>
        <binding name="WS2007HttpBinding_IService1">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate"></transport>
            <message clientCredentialType="Certificate" negotiateServiceCredential="false"
                     establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44383/Service1.svc" binding="ws2007HttpBinding" behaviorConfiguration="NewBehavior0"
        bindingConfiguration="WS2007HttpBinding_IService1" contract="ServiceReference1.IService1"
        name="WS2007HttpBinding_IService1">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
